:root {
    --color-black: #111111;
    --color-dark: #272727;
    --color-primary: ;
    --color-primary-variant: ;
    --color-white: #FFFFFF;
    --color-grey: #F5F5F5;
    --color-grey-input: #CCCCCC;
    --color-light-grey: #F5F5F5;
    --color-border: #B6B6B6;
    --color-button: #463FF1;
    --colorlight-blue: #DEDEFF;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

